input {
    border: 2px solid #E5E7EB;
    border-radius: 5px;
}

input:focus {
    outline: none;
    border: 2px solid #292ccb;
    box-shadow: 3px 3px #b4b2b5;
}


body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    margin: 0;
}

.main {
    display: flex;
    height: 100vh;
    width: 1000px;
    margin: 0 auto;
    background-color: aliceblue;
}

.left-container {
    display: flex;
    background-image: url('./images/background.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 40%;
    height: 100vh;
    margin: 0%;
    padding: 0px;
}

.right-container {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    width: fit-content;
    background-color: white;
}


form {
    width: fit-content;
    margin-bottom: 100px;
}

.user_info {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 20px;
    justify-content: space-around;
}

.user_info div {
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-right: 84px;
}

.intro-container {
    background-color: aliceblue;
    display: flex;
    width: fit-content;
    height: 500px;
    align-items: center;
}

.intro-container p {
    
    margin-left: 30px;
}

.logo {
    width: 120px;
    height: 40px;
    background-color: black;
    opacity: 0.3;
}

@font-face {
    font-family: "norse";
    src: 
        url("./norse-bold-webfont.woff") format("woff"),
        url("./norse-bold-webfont.woff2") format("woff2");
        font-weight: normal;
        font-style: normal;
}

.logo p {
    font: 
    1em "norse";
}

button {
    color: white;
    background-color: #596D48;
    border-radius: 5px;
    height: 30px;
    width: 150px;
    margin-left: 30px;
    font-weight: bold;
    position: absolute;
    margin-top: 20px;
}

.form-container h2 {
    
    margin-left: 30px;
}

.footer {
    display: flex;
    flex-direction: row;
    height: 500px;
}

.footer a {
    color: #596D48;
}

fieldset {
    border: none;
    padding: 0;
    
}

span {
    margin-left: 30px;
    margin-top: 130px;

}

.prompt {
    display: flex;
    height: 40px;
    align-content: center;
    position: relative;
    
}

